* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  background-color: #3b404e;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background: #bdc3c7; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #2c3e50,
    #bdc3c7
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #2c3e50,
    #bdc3c7
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  /* margin: 5px;
  padding: 3px;
  background-image: linear-gradient( 76.3deg,  rgba(44,62,78,1) 12.6%, rgba(69,103,131,1) 82.8% ); */
}

p {
  line-height: 1.6;
  text-align: left;
  padding: 20px;
}

h3 {
  color: white;
  font-weight: bold;
}

.q-desc {
  margin-top: 20px;
}

.example {
  /* border: 2px dashed black; */
}

.Main-title {
  color: #fff;
  font-family: sans-serif;
  text-transform: uppercase;
  color: red;
  border: 3px solid white;
  border-left: 0px;
  border-right: 0px;
  color: #fff;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9,
    0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1),
    0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2),
    0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2),
    0 20px 20px rgba(0, 0, 0, 0.15);
  font-size: 3.5em;
  margin-bottom: 0;
}

.Left-title {
  color: red;
  /* border: 2px solid white inset;
  background-color: white;
  padding: 20px;
  opacity: 0.5; */
}
.Right-title {
  color: royalblue;
  /* border: 2px solid white outset;
  background-color: white;
  padding: 20px; */
}

#app {
  width: 100%;
  margin: auto;
  text-align: center;
}

.difficulty-btns {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 20%;
  align-items: center;
}

/* CONTRIBUTION MODE */

/* .contribution-container{
  display: flex;
  flex-direction: row;
  margin-right: 2%;

} */

/* @media screen and (max-width: 1000px) {
  .contribution-container{
    display: flex;
    flex-direction: column;
    margin-right: 5%;

  }
} */

.contribution-pane {
  border: 2px black dashed;
  flex: 1;
  height: 95vh;
  padding: 6px;
  border-radius: 7px;
}

.contribution-container {
  display: grid;
  width: 95%;
  height: 95vh;
  margin-right: 2%;
  grid-template-columns: 1fr 2fr;
  grid-gap: 1rem;
  border-radius: 7px;
  grid-template-areas: "unsolved solved";
}

@media screen and (max-width: 1000px) {
  .contribution-container {
    display: flex;
    flex-direction: column;
    margin-right: 5%;
  }
}

.unsolved {
  border: 2px black dashed;
  grid-area: unsolved;
  /* background-image: linear-gradient(203deg, #3EDFD7 0%, #29A49D 90%) */
  background-image: linear-gradient(203deg, #007cc7 0%, #2036475d 90%);
}

.solved {
  border: 2px black dashed;
  grid-area: solved;
  /* background-image: linear-gradient(203deg, #3EDFD7 0%, #29A49D 90%) */
  background-image: linear-gradient(203deg, #007cc7 0%, #2036475d 90%);
}

/* GAME MODE */

.game-container {
  display: grid;
  /* FOR BIGGER MARGINS */
  width: 98.1%;
  margin-left: 1%;
  height: 95vh;
  margin-top: 15px;
  grid-template-columns: 1fr 2fr;
  /* grid-template-rows: 1fr 1fr; */
  grid-gap: 1rem;
  grid-template-areas: "question blocks";
}

@media screen and (max-width: 1200px) {
  .game-container {
    display: flex;
    flex-direction: column;
    margin-right: 5%;
  }
}

.Gamepane {
  background-color: #1eaafc;
  background-image: linear-gradient(
    130deg,
    #6c52d9 0%,
    #1eaafc 85%,
    #3edfd7 100%
  );
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  color: #ffffff;
  border-radius: 4px;
  border: 6px solid #171717;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-size: 18px;
  font-weight: bold;
  border-radius: 7px;
}

.question {
  border: 2px black dashed;
  grid-area: question;
  /* background-image: linear-gradient(203deg, #3EDFD7 0%, #29A49D 90%) */
  background-image: linear-gradient(203deg, #007cc7 0%, #2036475d 90%);
}

.blocks {
  border: 2px black dashed;
  grid-area: blocks;
}

.answer {
  border: 2px black dashed;
  grid-area: answer;
  background-color: #1eaafc;
  background-image: linear-gradient(160deg, #6c52d9 0%, #9b8ae6 127%);
}

.form-label {
  /* font-weight: bold; */
  font-size: 16px;
}

.options {
  font-size: 16px;
}

.answer-field {
  height: 600px;
  width: 600px;
  color: white;
  font-size: 15px;
  /* Change Colors */
  background-color: #2c3e51;
  padding: 10px;
}

/* COOL BUTTONS */

ul {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  display: flex;
  direction: column;
}

ul li {
  list-style: none;
  margin: 0 40px;
}

ul li a .fa {
  font-size: 40px;
  color: #262626;
  line-height: 80px;
  transition: 0.5s;
}

ul li a {
  position: relative;
  display: block;
  width: auto;
  height: 80px;
  margin: 10px;
  padding-left: 13px;
  padding-right: 13px;
  background: #fff;
  text-align: center;
  transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(0, 0);
  transition: 0.5s;
  box-shadow: -20px 20px 10px rgba(0, 0, 0, 0.5);
}

ul li a:before {
  content: "";
  position: absolute;
  top: 10px;
  left: -20px;
  height: 100%;
  width: 20px;
  background: #b1b1b1;
  transition: 0.5s;
  transform: rotate(0deg) skewY(-45deg);
}

ul li a:after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: -10px;
  height: 20px;
  width: 100%;
  background: #b1b1b1;
  transition: 0.5s;
  transform: rotate(0deg) skewX(-45deg);
}

ul li a:hover {
  transform: perspective(1000px) rotate(-30deg) skew(25deg)
    translate(20px, -20px);
  box-shadow: -50px 50px 50px rgba(0, 0, 0, 0.5);
}
ul li:hover .fa {
  color: #fff;
}
ul li:hover:nth-child(1) a {
  background: #55acee;
}
ul li:hover:nth-child(1) a:before {
  background: #4184b7;
}
ul li:hover:nth-child(1) a:after {
  background: #4d9fde;
}

ul li:hover:nth-child(2) a {
  background: #eea955;
}
ul li:hover:nth-child(2) a:before {
  background: #b79241;
}
ul li:hover:nth-child(2) a:after {
  background: #de914d;
}

ul li:hover:nth-child(3) a {
  background: #dd4b39;
}
ul li:hover:nth-child(3) a:before {
  background: #c13929;
}
ul li:hover:nth-child(3) a:after {
  background: #e8432e;
}

ul li:hover:nth-child(4) a {
  background: #0077b5;
}
ul li:hover:nth-child(4) a:before {
  background: #036aa0;
}
ul li:hover:nth-child(4) a:after {
  background: #0d82bf;
}

ul li:hover:nth-child(5) a {
  background: #e4405f;
}
ul li:hover:nth-child(5) a:before {
  background: #d02d4c;
}
ul li:hover:nth-child(5) a:after {
  background: #f1395c;
}

ul li:hover:nth-child(6) a {
  background: #0077b5;
}
ul li:hover:nth-child(6) a:before {
  background: #036aa0;
}
ul li:hover:nth-child(6) a:after {
  background: #0d82bf;
}

.external {
  width: 110px;
  height: 80px;
}

.gamepane-column {
  display: flex;
  direction: row;
}

.Parent {
  width: auto;
  border: 2px solid black;
}

.answer-header {
  /* display: flex;
  justify-content: space-between;
  border: solid black 2px;
  width: 100%; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.answer-title {
  flex: 2;
}

.fabs {
  flex: 1;
  /* margin-left: 50px; */
}

.fab {
  margin-left: 50px;
  padding-left: 50px;
}

/* Draggable */

.boxesGroup {
  /* main layout to display nested boxes */
  margin-top: 50;
  display: grid;
  min-height: 550px;
  overflow: hidden;
  width: 900px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  /* grid-template-rows: 150px; */
  place-items: center;
  /* decorating */
  /* background-color: lightgrey; */
  background-color: #b8c6db;
  background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);
  border: 2px #2c3e51 solid;
  border-radius: 7px;
  /* drag style */
  cursor: default;
}

.box {
  /* nested boxes */
  height: 100px;
  width: 140px;
  margin-top: 10px;
  /* decorating */
  border-radius: 10px;
  /* drag style */
  cursor: move;
  opacity: 0.85;
}

.content {
  /* centering content in box */
  position: relative;
  float: left;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* decorating */
  font-weight: bold;
}

/* TIMER */
@import url("https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i");
@import url("https://fonts.googleapis.com/css?family=Orbitron");

@font-face {
  font-family: "DS-DIGITAL";
  src: url("https://res.cloudinary.com/dzsmdyknz/raw/upload/v1532588680/fcc-drum-machine/ds-digital-font/DS-DIGIT.TTF");
  src: url("https://res.cloudinary.com/dzsmdyknz/raw/upload/v1532588680/fcc-drum-machine/ds-digital-font/DS-DIGIB.TTF");
  src: url("https://res.cloudinary.com/dzsmdyknz/raw/upload/v1532588679/fcc-drum-machine/ds-digital-font/DS-DIGII.TTF");
  src: url("https://res.cloudinary.com/dzsmdyknz/raw/upload/v1532588679/fcc-drum-machine/ds-digital-font/DS-DIGI.TTF");
}

/* body,
body * {
  margin: unset;
  box-sizing: unset;
  padding: unset;
  color: unset;
  text-decoration: unset;
}

body {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  background: #fff;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
} */

/* #ClockContainer {
  width: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
} */

.time {
  display: grid;
  grid-template-columns: repeat(4, auto);
  /*   grid-gap: 0.5rem; */
  text-align: center;
  font-size: 1.5rem;
  width: auto;
  /* border-radius: 30px; */
}

.tsection {
  display: grid;
  grid-template-row: repeat(2, 1fr);
  width: 90px;
  height: 90px;
}

.tsection > span {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.25rem;
}

.tsection > .tnum {
  font-family: "DS-DIGITAL", sans-serif;
  font-size: 1.75rem;
}

.tsection > .tlabel {
  font-size: 1rem;
  font-family: "lato", sans-serif;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.7);
}

.time > span:first-child > .tnum {
  border-top-left-radius: 6px;
  background: hsl(24, 100%, 41%);
}

.time > span:first-child > .tlabel {
  border-bottom-left-radius: 6px;
  background: hsl(24, 100%, 31%);
}

.time > span:nth-child(2) > .tnum {
  background: hsl(48, 89%, 50%);
}

.time > span:nth-child(2) > .tlabel {
  border-radius: inherit;
  background: hsl(48, 89%, 40%);
}

.time > span:nth-child(3) > .tnum {
  background: hsl(145, 63%, 42%);
}

.time > span:nth-child(3) > .tlabel {
  background: hsl(145, 63%, 32%);
}

.time > span:last-child > .tnum {
  border-top-right-radius: 6px;
  background: hsl(204, 64%, 44%);
}

.time > span:last-child > .tlabel {
  border-bottom-right-radius: 6px;
  background: hsl(204, 64%, 34%);
}

.controls {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-gap: 0.5rem;
  /*   border: 1px solid rgba(0,0,0,0.1); */
}

.button {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: none;
  font-size: 0.85rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
  outline: transparent;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.6);
}

.button:active {
  font-size: 0.8rem;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.6);
}

#start_stop {
  margin-left: auto;
}
